.flex-gallery-grid {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	flex-basis: 100%;
	margin: 0 auto $global-margin;
	&::after {
		content: '';
		flex-grow: 999999999;
		min-width: 20%;
		order: 999999999;
	}
	.grid-item {
		flex-basis: calc(50% - #{rem-calc(2px)});
		margin: rem-calc(2px) rem-calc(4px);
		background-color: #f0f0f0;
		position: relative;
		&:hover .caption {
			opacity: 1;
		}
		@include breakpoint(medium) {
			flex-basis: calc(33.33333333% - #{$global-margin});
			margin: $global-margin;
		}
		@include breakpoint(mediumlarge) {
			flex-basis: calc(25% - #{$global-margin});
		}
		&:hover {
			.hover-text {
				opacity: 1;
			}
		}
	}
	.uncollapse {
		// Stop layout collapsing before the images have loaded
		display: block;
		background-color: $light-gray;
		padding-bottom: 100%;
	}
	.caption {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background: rgba($black, .75);
		color: $white;
		padding: $global-padding / 2;
		font-size: $small-font-size;
		transition: opacity 200ms ease-in;
		opacity: 0;

		&:hover & {
			opacity: 1;
		}
	}
	.image {
		position: absolute;
		vertical-align: bottom;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.hover-text {
		opacity: 0;
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		color: $white;
		font-weight: $global-weight-bold;
		transition: opacity 350ms ease-in-out;
		background-color: rgba($primary-color, 0.85);
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
